body {
    background-color: #f191d9;
    
}

/* Estilo do menu */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #9d2fb3;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #444;
}

/* Estilo do cabeçalho */
h1 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 36px;
}
h2 {
    color: white;
}
/* Estilo dos produtos */
.produto2 {
    border: 1px solid #221e52;
    margin: 100px;
    padding: 10px;
    width: 400px;
    float: left;
    background-color: #f9f9f9;
}

.produto2 h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.produto2 p {
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilo do carrinho de compras */
#carrinho {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#carrinho li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Estilo do rodapé */
footer {
    background-color: #eebee2;
    color: white;
    text-align: center;
    padding: 10px 0;}
  
.div1 {
    color: white;
}

.div2 {
    color: white;
}

/* Estilo dos produtos */
.produto {
    border: 1px solid #221e52;
    margin: 100px;
    padding: 10px;
    width: 400px;
    float: left;
    background-color: #f9f9f9;
}

.produto h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.produto p {
    font-size: 16px;
    margin-bottom: 10px;
}